# to sync with .dockerignore & pyrightconfig.json

*.pyc
*/*.pyc
*~
*.swp
geckodriver.log

.coverage
coverage/

.nvm/
cache/
build/
dist/
local/
gh-pages/
*.egg-info/

/package-lock.json
/node_modules/

docs/dev/
docs/admin/
utils/*.sh
utils/lxc-searxng.env
utils/makefile*
SECURITY.md
.github
manage
AUTHORS.rst
db_data/
