# to sync with .dockerignore & pyrightconfig.json

*.pyc
*/*.pyc
*~
*.swp
geckodriver.log

.coverage
coverage/

.nvm/
cache/
build/
dist/
local/
gh-pages/
*.egg-info/

/package-lock.json
/node_modules/

babel.cfg
docs/dev/
docs/admin/
examples/
package.json
requirements-dev.txt
searxng_extra/
/src/
/tests/
/utils/brand.env
/utils/build_env.py
/utils/searxng_check.py
/utils/*.sh
/utils/lxc-searxng.env
/utils/makefile*
/utils/templates/
SECURITY.md
.github
manage
AUTHORS.rst
db_data/

.dir-locals.el
.coveragerc
